.componente-name{
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 0.5fr) 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px; 

}

  /* Estilos para la imagen */
.roleimg {
width: 50px; 
height: 50px;
/* margin-right: 1rem;
margin-left: 8rem; */
}
/* Estilos para el botón de salida (logout) */
.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0%;
  }
  
  /* Estilos para la imagen dentro del botón */
  .logout-button img {
    width: 50px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 50px;
    vertical-align: middle; /* Centra la imagen verticalmente dentro del botón */
  }

.componente-name h1{
    font-size: 1rem;
/*     margin-right: 4rem; */
}
.componente-name .logo{
    width: 90%;
    height: 90%;
}
/* Estilos para el texto "Exit" */
.logout-button span {
    margin-top: 4px; /* Espacio entre la imagen y el texto */
    font-size: 15px; /* Tamaño de fuente del texto */
    color: #ffffff; /* Color del texto */
}
.logout-button:hover {
    background: none;
    border: none;
}


