

/* Estilo base para el td que contiene la imagen */
/* .img-cell {
  text-align: center;
  padding: 10px; 
  background-color: lightblue;
  border-radius: 50px;
} */

/* Estilos para diferentes fondos de colores */
/* .img-cell.blue {
  background-color: lightblue;
}

.img-cell.green {
  background-color: lightgreen;
}

.img-cell.pink {
  background-color: lightpink;
}

.headertable{
  font-size: 1.5rem;
  text-align: center;
}

.bodytable{
  background-color: aquamarine;
  display: flex;
  gap:8rem;
}
.buttonProduct{
  display: inline;
} */
#contenedor-principaladmin {
  text-align: center;
  margin-top: 20px;
  height: 500px; /* Establece la altura deseada */
    overflow: hidden; /* Evita que el contenido desborde el contenedor */
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
border-radius: 10px;
}
.table-container {
  max-height: 100%;
  overflow: auto; /* Agrega scroll si el contenido excede la altura */
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.table-primary {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.headertable {
  /* background-color: #ccc; */
  font-size: 1.5rem;
  color: rgb(138, 83, 2);
  border-bottom: 1px solid #101010;
  font-family: 'Amiri', sans-serif;
}

.bodytable td {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-bottom: 1px solid #bcbaba;
  font-family: 'Amaranth', sans-serif;
}

.img-cell {
  width: 100px;
}

.imgproduct {
  max-width: 100%;
  height: auto;
}

.buttonProduct button {
  display: inline;
  margin-right: 20px;
  width: 6rem;
  height: 4rem;
  border-radius: 50%;
}
.editButton{
 
  background-color: #7DE494;
  color: #11431C;
}
.deleteButton{
  background-color: rgba(233, 25, 25, 0.76);
  color: #280101;
}
.add-product-button{
  background-color: transparent;
  border: none;
  width: 0;
  height: 0;
}
.add-product-button:hover{
  background-color: transparent;
  border: none;
}