.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amaranth', sans-serif;
}

.login .logo{
  width: 60%;
  height: 30%;
  margin-bottom: 2rem;
}

.fecha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fecha h2{
  color: #ffffff;
  font-size: 1em;
}
.fecha img{
  margin-top: 5%;
  width: 3.4rem;
  height: 2.5rem;
}

.login h1 {
  font-size: 3.8rem;
}

.login form {
  background-color: white;
  width: 40%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  gap: 10%;
  font-size: 1.4em;
}

button {
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: #EEA035;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 70%;
  height: 3rem;
}

button:hover {
  background-color: rgb(246, 195, 125);
  color: #fbfbfb;
  border-color: #EEA035;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%; 
  height: 3rem;
  background-color: #e4eced;
  color: #27313D;
  border-radius: 3px;
}

.error {
  color: red;
}



