.login{
    background-color: #ffffff;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    font-family: 'Amaranth', sans-serif;
}
.login img{
  position: absolute;
  margin-left: 30rem;
  width: 4rem;
  height: 2.5rem;
  margin-top: -40rem;
}
.login h3{
  position: absolute;
  margin-left: 43rem;
  margin-top: -40rem;
  font-size: 1.5em;
  color: #ffffff;
  width: 10rem;
}
.login h2{
  margin-top: -2rem;
  margin-bottom: 4rem;
  font-size: 3.8rem;
}
.login form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px; 
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}
button {
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: #EEA035;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 20rem;
  height: 3rem;
}
button:hover {
  background-color: rgb(246, 195, 125);
  color: #fbfbfb;
  border-color: #EEA035;
}
.form-group{
  display: inherit
}
.form-group input{
  width: 20rem;
  height: 3rem;
  background-color: #e4eced;
  color: #27313D;
  border-radius: 3px;
}
.error{
  color: red;
}